services:
  db:
    image: postgres:15
    restart: always
    environment:
      TZ: Asia/Tokyo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: kehare_cho_development
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: >
      bash -lc "bundle install &&
      rm -f tmp/pids/server.pid &&
      bin/rails s -b 0.0.0.0 -p 3000"
    tty: true
    stdin_open: true
    volumes:
      - .:/myapp
      - bundle_data:/usr/local/bundle:cached
      - node_modules:/myapp/node_modules
    environment:
      TZ: Asia/Tokyo
      HOME: /tmp
      DATABASE_URL: "postgres://postgres:password@db:5432/kehare_cho_development"
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    user: "${APP_UID:-1000}:${APP_GID:-1000}"

volumes:
  bundle_data:
  postgresql_data:
  node_modules:
