<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="bg-[#FDF3F0] border-l-4 border-[#C87941] text-[#6B3A2A] p-4 mb-5 rounded-r-2xl">
    <div class="flex">
      <div class="flex-shrink-0">
        <%= app_icon("alert-circle", css_class: "h-5 w-5 text-[#C87941]") %>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-bold text-[#6B3A2A]">
          <%= I18n.t("errors.messages.not_saved",
                     count: resource.errors.count,
                     resource: devise_i18n_fix_model_name_case(resource.model_name.human, i18n_key: 'errors.messages.not_saved'))
           %>
        </h3>
        <ul class="mt-2 text-sm text-[#8B4A3A] space-y-1">
          <% resource.errors.full_messages.each do |message| %>
            <li>• <%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
