<footer class="footer footer-center p-4 bg-base-200
  text-base-content mt-8">
    <div>
      <p>
        <%= link_to "プライバシーポリシー", privacy_policy_path, class: "link link-hover" %>
        |
        <%= link_to "利用規約", terms_path, class: "link link-hover" %>
      </p>
      <p>&copy; 2026 <%= t('app_name') %>. All rights
  reserved.</p>
    </div>
  </footer>
  