<header class="navbar bg-white shadow-md">
  <div class="flex-1">
    <%= link_to t('app_name'), root_path, class: "text-xl font-bold text-gray-900" %>
  </div>
  <nav class="flex-none">
    <ul class="menu menu-horizontal px-1 space-x-2">
      <li><%= link_to "使い方", how_to_use_path, class: "btn btn-ghost btn-sm text-gray-700 hover:text-orange-600" %></li>
      <li><%= link_to "ログイン", new_user_session_path, class: "btn btn-ghost btn-sm text-gray-700 hover:text-orange-600" %></li>
      <li>
        <%= link_to "新規登録", new_user_registration_path, class: "btn bg-orange-600 hover:bg-orange-700 text-white btn-sm border-0" %>
      </li>
    </ul>
  </nav>
</header>
